<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Колледж</title>
    {% block css %}
    <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
</head>
<body>
    <div class="menu">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/staffes/">Сотрудники</a>
        </li>
        <li>
            <a href="/groups/">Группы</a>
        </li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>